# 忽略所有文件
*
# 不忽略任何级别的子目录目录(这里只不忽略目录,不忽略目录下所有写成 /*)
!/**/
# 不忽略文件.gitignore,.git和 *.cpp 和*.h
!.gitignore
!/**/*.cpp
!/**/*.h
!.git
#不忽略py文件
!/**/*.py
#不忽略资源文件
!/**/*.txt
!/**/*.csv
!/**/*.md
!/**/*.jpg
!/**/*.png
!/**/*.webp
